In [24]:
#Importing the labraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
#setting the theme and size of plot
sns.set_style("darkgrid")
plt.rcParams['figure.figsize'] = (14, 8)

In [26]:
IPL_matches = pd.read_csv("./archive/IPL Matches 2008-2020.csv")
IPL_Balls = pd.read_csv("./archive/IPL Ball-by-Ball 2008-2020.csv")

In [29]:
#Getting the size of data
IPL_matches.shape

(816, 17)

In [28]:
#IPL_matches

In [38]:
#IPL_Balls.head()

In [35]:
IPL_matches_df = IPL_matches[["id","city","date","player_of_match","venue","team1","team2","toss_winner","toss_decision","winner","result","result_margin","eliminator","umpire1","umpire2"]]
IPL_matches_df.head()

,id,city,date,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,BF Bowden,K Hariharan

In [31]:
#Getting the featues available in the data
IPL_matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   team1            816 non-null    object
 6   team2            816 non-null    object
 7   toss_winner      816 non-null    object
 8   toss_decision    816 non-null    object
 9   winner           812 non-null    object
 10  result           812 non-null    object
 11  result_margin    799 non-null    float64
 12  eliminator       812 non-null    object
 13  umpire1          816 non-null    object
 14  umpire2          816 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 95.8+ KB

In [32]:
#Getting the summary statistics about the data
IPL_matches.describe()

                 id  neutral_venue  result_margin
count  8.160000e+02     816.000000     799.000000
mean   7.563496e+05       0.094363      17.321652
std    3.058943e+05       0.292512      22.068427
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.500000
max    1.237181e+06       1.000000     146.000000

In [34]:
#No. of matches we have in our dataset
IPL_matches['id'].max()

1237181

In [36]:
#No. of venue we have in dataset
IPL_matches['venue'].unique()
len(IPL_matches['venue'].unique())

36

In [42]:
#Team has won by maximum runs
#IPL_matches.iloc[IPL_matches['winner'].idxmax()]

In [44]:
IPL_matches_df.to_html("./archive/IPL_Matches.html")